.number {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    height: 100%;
}

.number button{

    margin: 2%;
    background-color: aquamarine;
    border-radius: 10px;
}