
.bloc1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}


.test{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 400px;
    background-color: rgb(44, 44, 44);
    padding: 2%;
    border-radius: 20px;

}
